<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.mcnc.mbmcnc.mapper.UserMapper">

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO users (
		email,
		gender,
		username,
		status_code,
		system_timestamp,
		created_depart,
		created_by,
		created_date,
		created_time,
		updated_depart,
		updated_by,
		updated_date,
		updated_time
		)
		VALUES (
		#{email},
		#{gender},
		#{username},
		#{statusCode},
		#{systemTimestamp},
		#{createdDepart},
		#{createdBy},
		#{createdDate},
		#{createdTime},
		#{updatedDepart},
		#{updatedBy},
		#{updatedDate},
		#{updatedTime}
		)

	</insert>

	<select id="findByEmail">
		SELECT * FROM users
		WHERE email = #{email}

	</select>

	<select id="getUserbyId" parameterType="Long">
		SELECT * FROM users
		WHERE
		id = #{id}
	</select>

	<!-- select all users -->
	<select id="getAllUsers">
		SELECT * FROM users
	</select>

</mapper>